[package]
name = "erased-serde"
version = "0.3.9"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Type-erased Serialize and Serializer traits"
repository = "https://github.com/dtolnay/erased-serde"
documentation = "https://github.com/dtolnay/erased-serde"
keywords = ["serde", "erasure"]
include = ["Cargo.toml", "src/**/*.rs", "LICENSE-*", "README.md"]
readme = "README.md"

[dependencies]
serde = "1.0.63"

[dev-dependencies]
serde_cbor = "0.9"
serde_derive = "1.0"
serde_json = "1.0"

[features]
unstable-debug = []

[[test]]
name = "test"
path = "tests/readme.rs"

[badges]
travis-ci = { repository = "dtolnay/erased-serde" }
